Feature: Generated Feature - {{name}}

  @ui
  Scenario Outline: Execute generated Cucumber test case
    Given user loads test data for {{sanitizedName}} "<TestCaseID>"
    When user navigates to Angular documentation page for {{sanitizedName}}
    And user searches for query from test data for {{sanitizedName}}
    Then search result dialog for {{sanitizedName}} should be visible

    Examples:
      | TestCaseID |
      | TC001      |
      | TC002      |
